head
  title= title
  meta(name="description" content="Optimize your detachment choices")
  link(id="favicon" rel="icon" href="https://hyperdev.com/favicon.ico" type="image/x-icon")
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  link(rel="stylesheet" href="/style.css")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.1/react.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.1/react-dom.js")

body

  header
    h1 Detachmentizer
    p Choose how many units of each role you want to use, and I'll tell you the optimum detachments to put them in.

  div#root
  
  footer If you'd like to provide feedback, please comment #[a(href="https://www.reddit.com/r/Warhammer40k/comments/6q4tfk/detachmentizer/") on this Reddit post]
  script(src="client.js")

